In [2]:
import pandas as pd

# Usando cadenas raw
source1_df = pd.read_excel('../data/01_raw/BookingList-010122a311222.xlsx')
source2_df = pd.read_excel('../data/01_raw/BookingList-010123a311223.xlsx')
source3_df = pd.read_excel('../data/01_raw/BookingList-010124a301124.xlsx')

# Verificar los datos cargados
print("Source 1 DataFrame:")
print(source1_df.head())

print("Source 2 DataFrame:")
print(source2_df.head())

print("Source 3 DataFrame:")
print(source3_df.head())

Source 1 DataFrame:
   Posición   Llegada    Salida   Apartamento Huésped  \
0  32518147  31.12.22  01.01.23     HD OLIVIA     NaN
1  32518144  31.12.22  01.01.23      HD FIDEL     NaN
2  32518120  31.12.22  01.01.23  HD ALEJANDRA     NaN
3  32518117  31.12.22  01.01.23  H BMA LISBOA     NaN
4  32489530  30.12.22  31.12.22     HD OLIVIA     NaN

         Portal de reserva          Creado Email Teléfono  Dirección  ...  \
0  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
1  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
2  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
3  Cerrar fechas (bloqueo)  31.12.22 21:55   NaN      NaN        NaN  ...
4  Cerrar fechas (bloqueo)  30.12.22 22:03   NaN      NaN        NaN  ...

   Precio  Detalles de precios Comisión incluida City tax Pagado  \
0     NaN                  NaN               NaN      NaN     No
1     NaN                  NaN               NaN      NaN     No
2     NaN                  NaN               NaN      NaN     No
3     NaN                  NaN               NaN      NaN     No
4     NaN                  NaN               NaN      NaN     No

   Pago por adelantado Adelanto ya pagado  Número de noches     Estado  \
0                  NaN                 No                 1  Reservado
1                  NaN                 No                 1  Reservado
2                  NaN                 No                 1  Reservado
3                  NaN                 No                 1  Reservado
4                  NaN                 No                 1  Reservado

  Nota para colaboradores
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN

[5 rows x 25 columns]
Source 2 DataFrame:
   Posición   Llegada    Salida    Apartamento              Huésped  \
0  51202076  31.12.23  02.01.24    HG0 COBETAS              Ignacio
1  51155228  30.12.23  31.12.23    H BMA PRAGA   Joan Lazaro Aguado
2  51138890  29.12.23  30.12.23  HG0 PAGASARRI   David Jimenez Ruiz
3  51136760  29.12.23  30.12.23  H BMA CHICAGO  Gali Kremer Heimann
4  51131264  30.12.23  01.01.24     HG1 ARRAIZ     Jurdana Ipinazar

  Portal de reserva          Creado                            Email  \
0   Reserva directa  31.12.23 12:36                              NaN
1       Booking.com  30.12.23 09:25  jaguad.561250@guest.booking.com
2       Booking.com  29.12.23 19:47   druiz.841407@guest.booking.com
3       Booking.com  29.12.23 19:03  gheima.350384@guest.booking.com
4        Página web  29.12.23 17:14                 ip_marc@yahoo.fr

            Teléfono  Dirección  ...  Precio  Detalles de precios  \
0                NaN        NaN  ...   160.0                  NaN
1        48500211472        NaN  ...   162.0      TVA - EUR 14.73
2   +34 610 40 11 77        NaN  ...    95.0       IVA - EUR 8.64
3  +49 9725 28821286        NaN  ...   150.0      TVA - EUR 13.64
4      0033627514564        NaN  ...   590.0                  NaN

  Comisión incluida City tax Pagado  Pago por adelantado Adelanto ya pagado  \
0               NaN      NaN     No                  NaN                 No
1             24.30      NaN     Sí                  NaN                 No
2             14.25      NaN     Sí                  NaN                 No
3             22.50      NaN     Sí                  NaN                 No
4               NaN      NaN     No                  NaN                 No

   Número de noches     Estado Nota para colaboradores
0                 2  Reservado                     NaN
1                 1  Reservado                     NaN
2                 1  Reservado                     NaN
3                 1  Reservado                     NaN
4                 2  Reservado                     NaN

[5 rows x 25 columns]
Source 3 DataFrame:
   Posición   Llegada    Salida            Apartamento  \
0  69854666  26.08.24  27.08.24             HG0 GANETA
1  69849111  22.08.24  23.08.24       AH11 DOBLE ARIAS
2  69847911  21.08.24  22.08.24  AH10 INDIVIDUAL ARIAS
3  69843366  22.08.24  24.08.24           H BMA LISBOA
4  69840491  22.08.24  24.08.24        AH2 DOBLE ARIAS

                    Huésped Portal de reserva          Creado  \
0     Dominique de Brisoult       Booking.com  20.08.24 16:22
1  Alberto Hernández Santos       Booking.com  20.08.24 15:32
2     Pablo Gázquez Frómeta       Booking.com  20.08.24 15:23
3    David Marquez Turrillo       Booking.com  20.08.24 14:40
4   Pablo Caballero Laserna       Booking.com  20.08.24 14:14

                             Email          Teléfono  Dirección  ...  Precio  \
0  dbriso.652540@guest.booking.com       34655332266        NaN  ...   129.0
1  kgvnxz.221472@guest.booking.com  +34 635 43 47 73        NaN  ...    84.6
2  pfrome.288024@guest.booking.com  +34 722 69 03 01        NaN  ...    53.1
3  dturri.952293@guest.booking.com  +34 600 76 95 65        NaN  ...   452.0
4  plaser.794555@guest.booking.com  +34 628 58 06 71        NaN  ...   200.7

   Detalles de precios Comisión incluida City tax Pagado  Pago por adelantado  \
0      IVA - EUR 11.73             19.35      NaN     Sí                  NaN
1       IVA - EUR 7.69             12.69      NaN     Sí                  NaN
2       IVA - EUR 4.83              7.96      NaN     Sí                  NaN
3      TVA - EUR 41.09             67.80      NaN     Sí                  NaN
4      IVA - EUR 18.25             30.11      NaN     Sí                  NaN

  Adelanto ya pagado  Número de noches     Estado Nota para colaboradores
0                 No                 1  Reservado                     NaN
1                 No                 1  Reservado                     NaN
2                 No                 1  Reservado                     NaN
3                 No                 2  Reservado                     NaN
4                 No                 2  Reservado                     NaN

[5 rows x 25 columns]

In [3]:
# Combinar los DataFrames de origen en uno solo
combined_source_df = pd.concat([source1_df, source2_df, source3_df], ignore_index=True)
print(combined_source_df.head())

   Posición   Llegada    Salida   Apartamento Huésped  \
0  32518147  31.12.22  01.01.23     HD OLIVIA     NaN
1  32518144  31.12.22  01.01.23      HD FIDEL     NaN
2  32518120  31.12.22  01.01.23  HD ALEJANDRA     NaN
3  32518117  31.12.22  01.01.23  H BMA LISBOA     NaN
4  32489530  30.12.22  31.12.22     HD OLIVIA     NaN

         Portal de reserva          Creado Email Teléfono  Dirección  ...  \
0  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
1  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
2  Cerrar fechas (bloqueo)  31.12.22 21:56   NaN      NaN        NaN  ...
3  Cerrar fechas (bloqueo)  31.12.22 21:55   NaN      NaN        NaN  ...
4  Cerrar fechas (bloqueo)  30.12.22 22:03   NaN      NaN        NaN  ...

   Precio  Detalles de precios Comisión incluida City tax Pagado  \
0     NaN                  NaN               NaN      NaN     No
1     NaN                  NaN               NaN      NaN     No
2     NaN                  NaN               NaN      NaN     No
3     NaN                  NaN               NaN      NaN     No
4     NaN                  NaN               NaN      NaN     No

   Pago por adelantado Adelanto ya pagado  Número de noches     Estado  \
0                  NaN                 No                 1  Reservado
1                  NaN                 No                 1  Reservado
2                  NaN                 No                 1  Reservado
3                  NaN                 No                 1  Reservado
4                  NaN                 No                 1  Reservado

  Nota para colaboradores
0                     NaN
1                     NaN
2                     NaN
3                     NaN
4                     NaN

[5 rows x 25 columns]

In [4]:
combined_source_df.describe()

,Posición,Dirección,Adultos,Niños,Precio,Comisión incluida,City tax,Pago por adelantado,Número de noches
count,1.571200e+04,0.0,13268.000000,2922.000000,14243.000000,12637.000000,0.0,4.000000,15712.000000
mean,4.186600e+07,NaN,2.644860,1.761807,230.484998,35.101689,NaN,255.000000,1.916815
std,1.457977e+07,NaN,1.371533,0.719993,292.402928,38.592220,NaN,366.378675,12.117033
min,1.539014e+07,NaN,1.000000,1.000000,1.150000,0.170000,NaN,40.000000,1.000000
25%,2.951609e+07,NaN,2.000000,1.000000,81.950000,13.350000,NaN,40.000000,1.000000
50%,4.144487e+07,NaN,2.000000,2.000000,148.000000,23.100000,NaN,90.000000,1.000000
75%,5.354794e+07,NaN,3.000000,2.000000,272.000000,42.040000,NaN,305.000000,2.000000
max,6.985467e+07,NaN,8.000000,7.000000,7847.600000,867.750000,NaN,800.000000,1491.000000

In [5]:
combined_source_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15712 entries, 0 to 15711
Data columns (total 25 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Posición                 15712 non-null  int64
 1   Llegada                  15712 non-null  object
 2   Salida                   15712 non-null  object
 3   Apartamento              15712 non-null  object
 4   Huésped                  14337 non-null  object
 5   Portal de reserva        15712 non-null  object
 6   Creado                   15712 non-null  object
 7   Email                    10909 non-null  object
 8   Teléfono                 13144 non-null  object
 9   Dirección                0 non-null      float64
 10  Adultos                  13268 non-null  float64
 11  Niños                    2922 non-null   float64
 12  Check-in                 10953 non-null  object
 13  Check-out                10855 non-null  object
 14  Notas                    13440 non-null  object
 15  Precio                   14243 non-null  float64
 16  Detalles de precios      12649 non-null  object
 17  Comisión incluida        12637 non-null  float64
 18  City tax                 0 non-null      float64
 19  Pagado                   15712 non-null  object
 20  Pago por adelantado      4 non-null      float64
 21  Adelanto ya pagado       15712 non-null  object
 22  Número de noches         15712 non-null  int64
 23  Estado                   15712 non-null  object
 24  Nota para colaboradores  9 non-null      object
dtypes: float64(7), int64(2), object(16)
memory usage: 3.0+ MB

In [6]:
combined_source_df['Creado']

0        31.12.22 21:56
1        31.12.22 21:56
2        31.12.22 21:56
3        31.12.22 21:55
4        30.12.22 22:03
              ...
15707    23.10.23 12:17
15708    26.09.23 14:51
15709    25.09.23 23:26
15710    25.09.23 23:26
15711    26.08.23 11:09
Name: Creado, Length: 15712, dtype: object

In [7]:
combined_source_df

,Posición,Llegada,Salida,Apartamento,Huésped,Portal de reserva,Creado,Email,Teléfono,Dirección,...,Precio,Detalles de precios,Comisión incluida,City tax,Pagado,Pago por adelantado,Adelanto ya pagado,Número de noches,Estado,Nota para colaboradores
0,32518147,31.12.22,01.01.23,HD OLIVIA,NaN,Cerrar fechas (bloqueo),31.12.22 21:56,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,1,Reservado,NaN
1,32518144,31.12.22,01.01.23,HD FIDEL,NaN,Cerrar fechas (bloqueo),31.12.22 21:56,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,1,Reservado,NaN
2,32518120,31.12.22,01.01.23,HD ALEJANDRA,NaN,Cerrar fechas (bloqueo),31.12.22 21:56,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,1,Reservado,NaN
3,32518117,31.12.22,01.01.23,H BMA LISBOA,NaN,Cerrar fechas (bloqueo),31.12.22 21:55,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,1,Reservado,NaN
4,32489530,30.12.22,31.12.22,HD OLIVIA,NaN,Cerrar fechas (bloqueo),30.12.22 22:03,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,No,NaN,No,1,Reservado,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15707,48020365,17.06.24,21.06.24,H - BUA 3P,Navarra Adentro,Reserva directa,23.10.23 12:17,NaN,659636268,NaN,...,520.00,NaN,NaN,NaN,No,NaN,No,4,Reservado,NaN
15708,46670629,11.02.24,12.02.24,H BMA AMSTERDAM,Crespi Catalina,Booking.com,26.09.23 14:51,ccatal.288618@guest.booking.com,+34 617 49 18 56,NaN,...,159.25,TVA - EUR 14.48,23.89,NaN,Sí,NaN,No,1,Cancelado,NaN
15709,46642321,12.01.24,14.01.24,H BMA BERLIN,Mikel Zugasti Rezola,Booking.com,25.09.23 23:26,mrezol.585471@guest.booking.com,+34 666 22 54 76,NaN,...,521.60,TVA - EUR 47.42,78.24,NaN,Sí,NaN,No,2,Cancelado,NaN
15710,46642318,12.01.24,14.01.24,H BMA AMSTERDAM,Mikel Zugasti Rezola,Booking.com,25.09.23 23:26,mrezol.585471@guest.booking.com,+34 666 22 54 76,NaN,...,671.80,TVA - EUR 61.07,100.77,NaN,Sí,NaN,No,2,Cancelado,NaN
15711,45005552,08.01.24,10.01.24,HG0 MUGARRA,Roxana Palala Méndez,Airbnb,26.08.23 11:09,NaN,50255354808,NaN,...,261.80,Cancellation Host Fee - EUR 35.7\nCancellation...,35.70,NaN,Sí,NaN,No,2,Reservado,NaN

In [9]:
#SACAR EL IDIOMA POR EL TELÉFONO -> Pendiente

In [8]:
import uuid

# Función para generar un token único
def generate_token():
    return str(uuid.uuid4())

# Tokenizar los datos sensibles
combined_source_df['Huésped_Token'] = combined_source_df['Huésped'].apply(lambda x: generate_token())
combined_source_df['Teléfono_Token'] = combined_source_df['Teléfono'].apply(lambda x: generate_token())
combined_source_df['Email_Token'] = combined_source_df['Email'].apply(lambda x: generate_token())

# Eliminar las columnas originales
combined_source_df = combined_source_df.drop(columns=['Huésped', 'Teléfono', 'Email'])

# Mostrar el DataFrame resultante
print(combined_source_df)

       Posición   Llegada    Salida      Apartamento        Portal de reserva  \
0      32518147  31.12.22  01.01.23        HD OLIVIA  Cerrar fechas (bloqueo)
1      32518144  31.12.22  01.01.23         HD FIDEL  Cerrar fechas (bloqueo)
2      32518120  31.12.22  01.01.23     HD ALEJANDRA  Cerrar fechas (bloqueo)
3      32518117  31.12.22  01.01.23     H BMA LISBOA  Cerrar fechas (bloqueo)
4      32489530  30.12.22  31.12.22        HD OLIVIA  Cerrar fechas (bloqueo)
...         ...       ...       ...              ...                      ...
15707  48020365  17.06.24  21.06.24       H - BUA 3P          Reserva directa
15708  46670629  11.02.24  12.02.24  H BMA AMSTERDAM              Booking.com
15709  46642321  12.01.24  14.01.24     H BMA BERLIN              Booking.com
15710  46642318  12.01.24  14.01.24  H BMA AMSTERDAM              Booking.com
15711  45005552  08.01.24  10.01.24      HG0 MUGARRA                   Airbnb

               Creado  Dirección  Adultos  Niños Check-in  ... City tax  \
0      31.12.22 21:56        NaN      NaN    NaN    16:00  ...      NaN
1      31.12.22 21:56        NaN      NaN    NaN    16:00  ...      NaN
2      31.12.22 21:56        NaN      NaN    NaN    16:00  ...      NaN
3      31.12.22 21:55        NaN      NaN    NaN      NaN  ...      NaN
4      30.12.22 22:03        NaN      NaN    NaN    16:00  ...      NaN
...               ...        ...      ...    ...      ...  ...      ...
15707  23.10.23 12:17        NaN      1.0    NaN    16:00  ...      NaN
15708  26.09.23 14:51        NaN      7.0    NaN    16:00  ...      NaN
15709  25.09.23 23:26        NaN      6.0    NaN    16:00  ...      NaN
15710  25.09.23 23:26        NaN      5.0    NaN    16:00  ...      NaN
15711  26.08.23 11:09        NaN      7.0    NaN    16:00  ...      NaN

      Pagado  Pago por adelantado Adelanto ya pagado  Número de noches  \
0         No                  NaN                 No                 1
1         No                  NaN                 No                 1
2         No                  NaN                 No                 1
3         No                  NaN                 No                 1
4         No                  NaN                 No                 1
...      ...                  ...                ...               ...
15707     No                  NaN                 No                 4
15708     Sí                  NaN                 No                 1
15709     Sí                  NaN                 No                 2
15710     Sí                  NaN                 No                 2
15711     Sí                  NaN                 No                 2

          Estado Nota para colaboradores  \
0      Reservado                     NaN
1      Reservado                     NaN
2      Reservado                     NaN
3      Reservado                     NaN
4      Reservado                     NaN
...          ...                     ...
15707  Reservado                     NaN
15708  Cancelado                     NaN
15709  Cancelado                     NaN
15710  Cancelado                     NaN
15711  Reservado                     NaN

                              Huésped_Token  \
0      6fc28e3d-cbc6-465d-8622-33f2fa024fa2
1      91669750-5dc9-403e-9ab8-9e426a7a2fae
2      5bd69b7a-c906-475a-af7a-c87f7bc822d0
3      c35e96a2-6782-43da-8e98-628a11bce3e4
4      70187f19-844d-4b1f-8fcc-75ffa4af2d1d
...                                     ...
15707  3f799401-19e1-42e6-bef4-fb4ea4ea89ea
15708  9e67d79d-6df1-4eb0-bb8f-ab6c4d6b8f35
15709  eb94c289-3eee-433c-9966-b16fdb114ddd
15710  5e5b0b39-996b-4856-b0c6-4ce853e664af
15711  f7796185-6cbb-4635-8ae2-acaf7d8c7ce4

                             Teléfono_Token  \
0      f76fa18f-a80a-4018-bba9-2011617a7cd7
1      14c0dc12-9645-4fce-b3df-887206276fd3
2      dab59d9a-1fa4-4bd4-95bb-c835d999f258
3      03544630-3b72-4f75-93a0-b9af77c42884
4      b323dee6-83f9-4f17-8339-c61807eb70b9
...                                     ...
15707  aa1f4b17-0bc4-4b9b-a997-34607ef59b96
15708  8d2598f6-09a7-45b6-b6df-56f31168bd6a
15709  707e7188-43ba-4a80-b705-5efc1e895e66
15710  3c361138-e3ee-408e-bbfc-5e093f84fd9b
15711  8af45e0d-0e83-4ac4-b980-923c5568d423

                                Email_Token
0      11c1b963-9241-4b79-8ee0-c0edca3afe71
1      fa715409-47c1-44d9-a26c-2a41d4dfc5f6
2      d58d5473-e5bf-4109-9b27-a69600c1496b
3      bf34f53b-ced8-479f-8a90-9df608660a67
4      25fa2176-393c-4a2e-af3b-4140a436173a
...                                     ...
15707  dc47a9ec-df04-470b-bad7-f77be13f4f44
15708  80331c7b-6d26-4173-83ab-bd0ef9cab8f2
15709  0b46585e-a500-4cdc-9f54-e4017a1d8ec5
15710  3bfa3195-68fa-4d88-bd73-5c14c41e88ef
15711  bd13918b-0703-474c-bf94-63efc036e530

[15712 rows x 25 columns]

In [9]:
df_num = combined_source_df.select_dtypes(include = ['float64', 'int64'])
df_num.hist(figsize=(16, 20), bins=40, xlabelsize=6, ylabelsize=6)

ImportError: matplotlib is required for plotting when the default backend "matplotlib" is selected.

In [11]:
# Guardar el DataFrame en un archivo CSV en la carpeta 'data/cleaned/'
output_path = '../data/02_processed/combined_source_df.csv'
combined_source_df.to_csv(output_path, index=False)

print(f"DataFrame guardado en {output_path}")

DataFrame guardado en ../data/02_processed/combined_source_df.csv